
<div class="wrapper">
  <p id="message">It wants you to press "A".</p>
</div>

<script type="text/javascript">
console.log('Connected!');

let currentLevel = 1;
window.addEventListener('keydown', console.log);

</script>
