@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');

body {
  background: #1f1f1f;
  color: #f2f2f2;
}

.wrapper {
  display: flex;
  height: 100vh;
  width: 100vw;
  margin: 0;
  justify-content: center;
  align-items: center;
}

#message {
  display: flex;
  font-family: 'Roboto Mono', monospace;
  font-size: 1.2rem;
  border-right: .1em solid #f2f2f2;
  width: 16.5em;
  width: 26ch;
  margin: 2em 1em;
  white-space: nowrap;
  overflow: hidden;
  -webkit-animation: typing 2s steps(26, end),
  blink-caret .5s step-end infinite alternate;
}

@-webkit-keyframes typing { from { width: 0; } }
@-webkit-keyframes blink-caret { 50% { border-color: transparent; } }
